{% if img %}
    <a href="{% url 'index' %}">Return Home</a>
    <h3> {{ img.image_slug}} </h3>
    <p> Image # {{ img.id }}, owned by <b>{{ img.image_owner }}</b></p>
    <br>
    <br>

    {% load static %}
    <img src="{{ img.image_src.url }}" alt="{{ img.image_slug }}" style="max-width:90vw;"/>
    <br>
    <br>
    <form action="{% url 'delete_image' user.username img.id %}" method='POST'>
        {% csrf_token %}
        <button type="submit">Delete Image</button>
    </form>
{% else %}
    <p>No image has been provided</p>
{% endif %}