{% if user.is_authenticated %}
    <h3>Welcome back, {{ user.username }}</h3>
    <a href="{% url 'logout' %}">Log Out</a>
    
    {% if img_list %}
        <ul>
            {% for img in img_list %}
            <li><a href="{% url 'detail' img.image_owner img.id %}">{{img.image_slug}}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No images are available.</p>
    {% endif %}

    <h3>Add an Image</h3>
    <form enctype="multipart/form-data" action="{% url 'index' %}" method="post">
        {% csrf_token %}

        <label for="image_owner">Owner</label>
        <input type="text" name="image_owner" value="{{ user.username }}" readonly>
        <br>
        <br>

        <label for="image_slug">Title</label>
        <input type="text" name="image_slug" id="image_slug" value="sartorial_shotify_shot">        
        <br>
        <br>

        <label for="image_permissions">Permissions</label> 
        <select id ="image_permissions" name="image_permissions">
            <option value="+">Public</option>
            <option value="-">Private</option>
        </select>
        <br>
        <br>

        <label for="image_src">Image File</label>
        <br>
        <input type="file" id="image_src" name="image_src" accept="image/*">     
        <br>
        <br>

        <input type="submit" value="Add Image">
    </form>
{% endif %}
